$width1220: 'max-width: 1220px';
$width991: 'max-width: 991px';
$width767: 'max-width: 767px';
$width575: 'max-width: 575px';
$width375: 'max-width: 375px';

$bg-color: #1D1F21;
$base-color: #FCFFFF;;
$gradientLight:  linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
$gradientDark: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
$gradientMenu: linear-gradient(94.78deg, rgb(36, 39, 43) 9.27%, rgb(38, 27, 56) 84.06%);

@mixin gradientFont {
	background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin font-Manrope {
	font-family: 'Manrope';
}

@mixin flex-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-ai-center {
	display: flex;
	align-items: center;
}

@mixin flex-jc-center {
	display: flex;
	align-items: center;
}

@mixin flex-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
}

@mixin transition3s {
	transition: all .3s;
}
@mixin transition2s {
	transition: all .2s;
}

@mixin imagePosition ($object-fit) {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: $object-fit;
}

@mixin iconFonts {
	@font-face {
		font-family: 'iconfonts';
		src:  url('../fonts/iconfonts.eot?wj2bbs');
		src:  url('../fonts/iconfonts.eot?wj2bbs#iefix') format('embedded-opentype'),
		url('../fonts/iconfonts.ttf?wj2bbs') format('truetype'),
		url('../fonts/iconfonts.woff?wj2bbs') format('woff'),
		url('../fonts/iconfonts.svg?wj2bbs#iconfonts') format('svg');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}
	
	[class^="i-"], [class*=" i-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'iconfonts' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.i-out:before {
		content: "\e900";
	}
	.i-bag:before {
		content: "\e901";
		color: #525960;
	}
	.i-orders:before {
		content: "\e902";
		color: #525960;
	}
	.i-workers:before {
		content: "\e903";
		color: #525960;
	}
	.i-mess:before {
		content: "\e904";
		color: #525960;
		font-size: 17px;
	}
	.i-stat:before {
		content: "\e905";
		color: #525960;
	}
}