.hero {
	padding: 79px 0 89px;
	&__row {
		display: flex;
		position: relative;
	}
	&__body {
		max-width: 424px;
	}
	&__image {
		width: 100%;
	}
	// &__text-bg {
	// 	font-weight: 700;
	// 	font-size: 80px;
	// 	line-height: 97px;
	// 	-webkit-text-fill-color: transparent;
	// 	-webkit-text-stroke: 1px rgb(252, 255, 255, 0.2);
	// 	position: absolute;
	// 	&_1 {
	// 		left: -182px;
	// 		top: -63px;
	// 	}
	// 	&_2 {
	// 		left: 28.55%;
	// 		bottom: -2px;
	// 	}
	// }
}

.body-hero {
	padding: 61px 0 124px;
	&__soc,
	&__buttons {
		@include flex-ai-center;
	}
	&__soc {
		margin: 0 0 27px 0;
		gap: 18px;
		transform: scale(1);
	}
	&__soc-link:hover {
		transform: scale(1.1);
	}
	&__soc-icon {
		width: 24px;
		height: 24px;
	}
	&__title {
		margin-bottom: 12px;
	}
	&__text {
		max-width: 271px;
		margin-bottom: 42px;
	}
	&__buttons {
		gap: 12px;
	}
	&__btn {
		padding: 18px 22px 19px;
		border-radius: 16px;
		gap: 8px;
		font-size: 18px;
		line-height: 26px;
		&_dicover  {
			width: 145px;
			flex-shrink: 0;
		}
	}
	&__prem-btn-icon {
		width: 24px;
		height: 24px;
	}
}

.image-hero {
	position: relative;
	display: flex;
	align-items: flex-end;
	&__image-wrap {
		position: relative;
		width: 100%;
		z-index: 1;
	}
	&__image {
		width: 100%;
		aspect-ratio: 343/314;
	}
	&__bubble-small {
		width: 10px;
		height: 10px;
		top: -31px;
		right: 5px;
	}
	&__bubble-big {
		width: 25px;
		height: 25px;
		left: 25%;
		top: 23.5%;
	}
	&__star {
		position: absolute;
		top: -21px;
		right: 71.65%;
		&_2nd {
			display: none;
		}
	}
}

.biography {
	margin-bottom: 67px;
	&__container {
		margin: 0 auto;
		max-width: 1162px;
		padding: 0 15px;
	}
	&__row {
		position: relative;
		display: flex;
		align-items: center;
	}
	&__image-wrap {
		position: relative;
		width: 487px;
		height: 618px;
		margin: 0 65px 0 0;
		flex-shrink: 1;
	}
	&__image {
		width: 100%;
		border-radius: 40px;
		position: relative;
		z-index: 2;
		aspect-ratio: 487/618;
	}
	&__body {
		padding: 14px 0 0;
		max-width: 550px
	}

	&__title {
		margin-bottom: 17px;
	}
	&__text {
		margin-bottom: 41px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 17px;
	}
	&__year {
		color: #C5FF98;
		font-weight: 700;
		background: rgba(197, 255, 152, 0.1);
		border-radius: 10px;
		width: 60px;
		height: 32px;
		@include flex-center-center;
		margin: 0 0 10px 0;
	}
	&__year-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
	}

	& .image-hero__star {
		right: auto;
		top: 154px;
		left: -77px;
	}
	& .image-hero__bubble-big {
		left: -4.6%;
		top: 51.9%;
	}
}

.banner {
	margin-bottom: 11px;
	&__body {
		background: url("@img/home_banner-bg.png") 100% center no-repeat, linear-gradient(94.78deg, #6880FF 9.27%, #3CA7F4 50.77%, #8C45FF 84.06%);
		border-radius: 24px;
		border-radius: 24px;
		padding: 83px 110px 84px;
	}
	&__icon,
	&__title,
	&__text {
		margin-bottom: 12px;
	}
	&__icon {
		width: 45px;
		height: 45px;
	}
	&__text {
		max-width: 441px;
	}
	&__btn {
		font-size: 18px;
		line-height: 26px;
		background: $bg-color;
		padding: 18px 37px 20px;
		max-width: 167px;
	}
}

.nft-slider {
	margin-bottom: 87px;
}

.nft-item {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 0 auto;
	background: #212426;
	border-radius: 12px;
	transform: translateY(0);
	@include transition3s;
	cursor: pointer;
	&:hover {
		transform: translateY(-31px);
	}
	&__header {
		padding: 17px 20px 18px;
	}
	&__image-wrap {
		width: 350px;
		height: 350px;
	}
	&__image {
		@include imagePosition(cover);
	}
	&__body {
		padding: 16px 21px 17px 24px;
	}
	&__title,
	&__text {
		max-width: 257px;
	}
	&__title {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 2px;
	}
	&__text {
		color: #C8D2DC;
		line-height: 21px;
		margin-bottom: 20px;
	}
	&__buy {
		@include flex-center-between;
		padding: 13px 0 0;
		border-top: 1px solid rgba(252, 255, 255, 0.05);
	}
	&__price {
		font-weight: 700;
		font-size: 26px;
		line-height: 34px;
	}
	&__btn {
		padding: 17px 30px;
		border-radius: 12px;
	}
}

.contact {
	margin-bottom: 91px;
	background: 
		url('@img/contact-bg_img-1.png') 0 255px no-repeat,
		url('@img/contact-bg_img-2.png') 146px 123px no-repeat,
		url('@img/contact-bg_img-3.png')  216px calc(100% - 14px) no-repeat,
		url('@img/contact-bg_img-4.png') 100% 29px no-repeat;
	&__title,
	&__subtitle {
		text-align: center;
	}
	&__title {
		margin: 0 auto;
		margin-bottom: 37px;
		max-width: 540px;
	}
}

@media ($width1220) {
	.hero {
		padding-top: 148px;
	}
}

@media ($width991) {
	.hero {
		padding: 126px 0 61px;
		&__row {
			align-items: center;
		}
		&__body {
			margin: 0 20px 0 0;
		}
		&__text-bg {
			font-size: 50px;
			line-height: 61px;
			&_1 {
				left: auto;
				right: -51px;
			}
			&_2 {
				display: none;
			}
		}
	}

	.body-hero {
		padding: 40px 0;
		&__soc {
			display: none;
		}
	}

	.image-hero {
		&__bubble-small {
			display: none;
		}
	}

	.biography {
		&__image-wrap {
			margin: 0 30px 0 0;
			min-width: 250px;
		}
	}
}

@media ($width767) {
	.hero {
		padding: 87px 0 61px;
		&__row {
			flex-direction: column;
			align-items: flex-start;
		}
		&__body {
			max-width: 100%;
		}
		&__image {
			max-width: 475px;
		}
		&__text-bg {
			&_1 {
				right: -58px;
				top: -17px;
			}
		}
	}

	.body-hero {
		width: 100%;
		padding: 40px 15px 33px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		&__title {
			margin-bottom: 8px;
			max-width: 263px;
		}
		&__text {
			margin-bottom: 21px;
		}
		&__title {
			margin-bottom: 8px;
		}
		&__text {
			margin-bottom: 21px;
		}
		&__btn {
			font-size: 15px;
			line-height: 26px;
			padding: 12px 17px 13px;
			flex-shrink: 0;
			&_dicover {
				width: 117px;
				flex-shrink: 1;
			}
		}
		&__prem-btn-icon {
			width: 18px;
			height: 18px;
		}
	}
	.image-hero {
		margin: 0 auto;
		&__bubble-big {
			top: 8.5%;
		}
		&__star {
			top: -7px;
			right: 37px;
			width: 36px;
			height: 48px;
			&_2nd {
				display: block;
				top: 0px;
				right: auto;
				left: -15px;
				width: 30px;
				height: 41px;
			}
		}
	}

	.biography{
		&__row {
			flex-direction: column;
			align-items: start;
		}
		&__image-wrap {
			width: 304px;
			height: 353px;
			margin: 0 auto;
		}
		&__image {
			aspect-ratio: 304/353;
		}
		&__body {
			max-width: 100%;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 31px;
		}
		&__year {
			margin: 0 auto 13px;
			height: 29px;
		}
		&__year-text {
			font-size: 14px;
			line-height: 24px;
			text-align: center;
		}
		& .image-hero__star,
		& .image-hero__bubble-big {
			display: none;
		}
	}

	.nft-slider {
		margin-bottom: 0;
		padding: 0 15px;
	}

	.nft-item {
		width: 280px;
		padding: 13px 13px 15px;
		&__image-wrap {
			order: -1;
			width: 253px;
			height: 253px;
			border-radius: 12px;
			overflow: hidden;
			margin-bottom: 8px;
		}
		&__header {
			margin-bottom: 0;
			padding: 0;
		}
		&__body {
			padding: 0;
		}
		&__title {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 2px;
		}
		&__text {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 13px;
		}
		&__buy {
			padding: 11px 6px 0 0;
		}
		&__btn {
			padding: 12px 20px;
			border-radius: 8px;
		}
		&__price {
			font-size: 22px;
			line-height: 34px;
		}
	}

	.contact {
		margin-bottom: 34px;
		padding: 37px 0 0;
		background: 
			url("@img/contact-bg_img-1_m.png") calc(100% - 50px) 18px no-repeat,
			url("@img/contact-bg_img-2_m.png")  100% 1px no-repeat;
		&__subtitle,
		&__title {
			text-align: left;
		}
		&__title {
			max-width: 306px;
			margin: 0 0 15px 0;
		}
	}
}

@media ($width575) {
	.body-hero {
		text-align: left;
		align-items: start;
	}
	
	.biography {
		margin-bottom: 8px;
	}

	.banner {
		margin-bottom: 26px;
		&__body {
			background: url("@img/home_banner-bg_m.png") 62% calc(100% + 224px) no-repeat, linear-gradient(140.92deg, #6880FF 3.3%, #3CA7F4 52.35%, #8C45FF 92.15%);
			padding: 32px 26px;
			height: 514px;
		}
		&__icon {
			width: 24px;
			height: 24px;
			margin-bottom: 4px;
		}
		&__title {
			margin-bottom: 8px;
		}
		&__text {
			margin-bottom: 24px;
		}
		&__btn {
			font-size: 15px;
			line-height: 26px;
			max-width: 135px;
			padding: 12px 22px 13px;
		}
	}
}

@media ($width375) {
	.image-hero {
		&__image {
			aspect-ratio: 360/349;
		}
	}
	.biography {
		&__image-wrap {
			margin: 0 0 22px 5px;
		}
	}
}