body._lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&_main {
		background: 
			url("@img/blur-w.png") -609px -36px no-repeat,
			url("@img/blur-b.png") -100px 619px no-repeat;
	}
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 15px;
	&_big {
		max-width: 1170px;
	}
}

.title {
	font-size: 64px;
	line-height: 65px;
	&_small {
		font-size: 36px;
		line-height: 50px;
	}
}

.text {
	font-size: 16px;
	line-height: 28px;
	max-width: 271px
}

.btn {
	@include flex-center-center;
	font-weight: 700;
	text-align: center;
	&_light {
		background: $gradientLight;
		color: #1D1F21;
	}
	&_dark {
		background: $gradientDark;
		span {
			background: $gradientLight;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
	&:hover {
		box-shadow: 0 0 5px #fff;
	}
}

.bubble {
	border-radius: 100%;
	border: 1px solid $base-color;
	background: transparent;
	position: absolute;
}

@media ($width991) {
	.title {
		font-size: 48px;
		line-height: 55px;
	}
}

@media ($width767) {
	.title {
		font-size: 36px;
		line-height: 40px;
		&_small {
			font-size: 26px;
			line-height: 34px;
		}
	}

	.text {
		font-size: 15px;
		line-height: 24px;
	}
}

@media ($width375) {
	.wrapper {
		&_main {
			background: 
				url("@img/blur-w.png") center 40px no-repeat,
				// url("@img/blur-b.png") -100px 619px no-repeat;
		}
	}
	.container {
		&_home {
			padding: 0 0 0 15px;
		}
	}
}