body._lock {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 2560px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&_main {
		background: 
			url("@img/blur-w.png") 0 3px no-repeat,
			url("@img/blur-b.png") 0 564px no-repeat,
			url("@img/blur-b2.png") 50% 1664px no-repeat;
	}
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 15px;
	&_big {
		max-width: 1170px;
	}
}

.title {
	font-size: 64px;
	line-height: 65px;
}

.title-small {
	font-size: 36px;
	line-height: 50px;
}

.subtitle {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.1em;
	span {
		@include gradientFont;
	}
}

.text {
	font-size: 16px;
	line-height: 28px;
}

.btn {
	@include flex-center-center;
	font-weight: 700;
	text-align: center;
	border-radius: 16px;
	&_light {
		background: $gradientLight;
		color: #1D1F21;
	}
	&_dark {
		background: $gradientDark;
		span {
			@include gradientFont;
		}
	}
	&:hover {
		box-shadow: 0 0 5px #fff;
	}
}

.bubble {
	border-radius: 100%;
	border: 1px solid $base-color;
	background: transparent;
	position: absolute;
}

.form {
	&__wrapper {
		margin: 0 auto;
		max-width: 410px;
	}
	&__input-wrap {
		margin-bottom: 15px;
	}
	&__input {
		display: block;
		background: #212426;
		border-radius: 9px;
		color: rgba(200, 210, 220, 0.6);
		font-size: 16px;
		line-height: 21px;
		padding: 21px 32px 22px;
		width: 100%;
		&::placeholder {
			font-size: inherit;
			color: rgba(200, 210, 220, 0.6);
		}
		&_text {
			resize: none;
			height: 182px;
		}
	}
	&__input-title {
		color: #C8D2DC;
		line-height: 21px;
		margin-bottom: 7px;
	}
	&__btn {
		font-size: 18px;
		line-height: 26px;
		padding: 18px 20px 19px;
		width: 100%;
		margin-bottom: 20px;
	}
	&__custom-check {
		display: block;
		position: relative;
		color: #C8D2DC;
		width: 100%;
		@include flex-ai-center;
		&::before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid #525960;
			border-radius: 7px;
			flex-shrink: 0;
			margin: 0 10px 0 0;
		}
	}
	&__input-checkbox {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		&:checked + label::before {
			content: url('@img/icons/check.svg');
			border-color: #86A8FF;
			box-shadow: 0 0 3px #86A8FF;
		}
	}
	&__link {
		display: inline-block;
		font-weight: 600;
		color: #86A8FF;
		margin: 0 5px;
		text-decoration: underline;
	}
}

@media ($width991) {
	.title {
		font-size: 48px;
		line-height: 55px;
	}
}

@media ($width767) {
	.title {
		font-size: 36px;
		line-height: 40px;
	}

	.title-small {
		font-size: 26px;
		line-height: 34px;
	}

	.subtitle {
		font-size: 14px;
		line-height: 26px;
	}

	.text {
		font-size: 15px;
		line-height: 24px;
	}

	.form {
		&__wrapper {
			max-width: 100%;
		}
		&__btn {
			margin-bottom: 17px;
		}
	}
}

@media ($width375) {
	.wrapper {
		&_main {
			background: 
				url("@img/blur-w_m.png") center 87px no-repeat,
				url("@img/blur-b_m.png") 100% 707px no-repeat,
				url("@img/blur-b2_m.png") 0 1659px no-repeat;
		}
	}
	.container {
		&_home {
			padding: 0 0 0 15px;
		}
	}
}