body._lock {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 2560px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&_main {
		background: 
			url("@img/blur-w.png") 0 3px no-repeat,
			url("@img/blur-b.png") 0 564px no-repeat,
			url("@img/blur-b2.png") 50% 1664px no-repeat;
	}
	&_arts {
		background: url("@img/blur-b_arts.png") 0 20px no-repeat;
	}
	&_product {
		background: url("@img/blur-b_arts.png") 0 20px no-repeat;
	}
	&_auction {
		background: 
			url("@img/blur-b_arts.png") 0 20px no-repeat,
			url("@img/blur-b_auction.png")100% 20px no-repeat;
	}
	&_pricing {
		background: 
			url("@img/blur-b_arts.png") 0 20px no-repeat,
			url("@img/blur-b_auction.png")100% 20px no-repeat,
			url("@img/cristal-bg-pricing.png") 0 223px no-repeat,
			url("@img/cristal-bg-pricing-2.png") 77% 102px no-repeat,
			url("@img/cristal-bg-pricing-3.png") 100% 216px no-repeat;
	}
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 15px;
	&_big {
		max-width: 1170px;
	}
	&_article {
		padding: 0 13px 0 27px;
		max-width: 1165px;
	}
}

.title {
	font-size: 64px;
	line-height: 65px;
}

.title-small {
	font-size: 36px;
	line-height: 50px;
}

.subtitle {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.1em;
	span {
		@include gradientFont;
	}
}

.text {
	font-size: 16px;
	line-height: 28px;
}

.btn {
	@include flex-center-center;
	font-weight: 700;
	text-align: center;
	border-radius: 16px;
	&_light {
		background: $gradientLight;
		color: #1D1F21;
	}
	&_dark span,
	&_black span {
		@include gradientFont;
	}
	&_dark {
		background: $gradientDark;
	}
	&_black {
		background: #1D1F21;
	}
	&:hover {
		box-shadow: 0 0 5px #fff;
	}
}

.bubble {
	border-radius: 100%;
	border: 1px solid rgba(252, 255, 255, 0.4);
	background: transparent;
	position: absolute;
	width: 25px;
	height: 25px;
}

.star {
	position: absolute;
}

.text-bg {
	position: absolute;
	font-weight: 700;
	font-size: 80px;
	line-height: 97px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgb(252, 255, 255, 0.2);
	&_1 {
		left: -182px;
		top: -63px;
	}
	&_2 {
		left: 28.55%;
		bottom: -2px;
	}
}


.form {
	&__wrapper {
		margin: 0 auto;
		max-width: 410px;
	}
	&__input-wrap {
		margin-bottom: 15px;
	}
	&__small-wrap {
		display: flex;
		gap: 16px;
	}
	&__input {
		display: block;
		background: #212426;
		border-radius: 9px;
		color: rgba(200, 210, 220, 0.6);
		font-size: 16px;
		line-height: 21px;
		padding: 21px 32px 22px;
		width: 100%;
		@include transition2s;
		border: 1px solid transparent;
		&::placeholder {
			font-size: inherit;
			color: rgba(200, 210, 220, 0.6);
		}
		&_text {
			resize: none;
			height: 182px;
		}
		&_crypto {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: $base-color;
			position: relative;
			overflow: hidden;
			&::before {
				content: "Copied to clipboard";
				position: absolute;
				top: -100%;
				width: 50%;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 0 0 8px 8px;
				background: $gradientLight;
				color: black;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: 0.5s all;
				font-size: 10px;
				line-height: 12px;
			}
			&._active::before {
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		&:hover {
			box-shadow: 0 0 3px #fff;
		}
		&:focus {
			border-color: #86A8FF;
		}
	}
	&__copy-icon {
		width: 13.5px;
		height: 15px;
		position: absolute;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);
		cursor: pointer;
		@include transition2s;
		&:hover {
			top: 40%;
			transform: scale(1.5);
		}
	}
	&__input-title {
		color: #C8D2DC;
		line-height: 21px;
		margin-bottom: 7px;
	}
	&__btn {
		font-size: 18px;
		line-height: 26px;
		padding: 18px 20px 19px;
		width: 100%;
		margin-bottom: 20px;
	}
	&__custom-check {
		display: block;
		position: relative;
		color: #C8D2DC;
		width: 100%;
		@include flex-ai-center;
		cursor: pointer;
		&::before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid #525960;
			border-radius: 7px;
			flex-shrink: 0;
			margin: 0 10px 0 0;
		}
	}
	&__input-checkbox {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		&:checked + label::before {
			content: url('@img/icons/check.svg');
			border-color: #86A8FF;
			box-shadow: 0 0 3px #86A8FF;
		}
	}
	&__link {
		display: inline-block;
		font-weight: 600;
		color: #86A8FF;
		margin: 0 5px;
		text-decoration: underline;
	}
	&__select {
		& .select {
			&__header,
			&__item {
				font-weight: 600;
				font-size: 16px;
				line-height: 21px;
				color: #FCFFFF;
				padding: 20px 32px 20px;
				justify-content: space-between;
			}
			&__icon {
				width: 24px;
				height: 24px;
			}
			&__item {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}
	&__list-colors {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item-color {
		position: relative;
		margin: 0 -16px 0 0;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		flex: 0 0 auto;
		border: 4px solid #1D1F21;
		cursor: pointer;
		@include transition2s;
		&._active {
			z-index: 1;
			border-color: #86A8FF;
			&:hover {
				transform: scale(1);
			}
		}
		&:hover {
			z-index: 1;
			transform: scale(1.1);
		}
	}
}

.red{background: #CA3838;}
.orange{background: #EB8032;}
.yellow{background: #FFDA57;}
.green{background: #79CE60;}
.greenlight{background: #60CEB4;}
.bluelight{background: #41D4F4;}
.blue{background: #4153F4;}
.purple{background: #6541F4;}
.violet{background: #B041F4;}
.pink{background: #C45297;}
.darkpink{background: #A14051;}
.white{background: #FFFFFF;}
.grey{background: #CFCFCF;}
.brown{background: #4A3221;}
.black{background: #000000;}

.breadcrumbs {
	padding: 32px 0 24px;
	&__list {
		@include flex-ai-center;
		flex-wrap: wrap;
	}
	&__link {
		font-family: 'Manrope';
		line-height: 19px;
		color: #C8D2DC;
		&:hover {
			opacity: 0.7;
		}
		&::after {
			content: url("@img/icons/breacrumbs_arrow.svg");
			margin: 0 9px;
		}
		&:last-child {
			opacity: 1;
			cursor: default;
			pointer-events: none;
			&::after {
				display: none;
			}
		}
	}
}

@media ($width991) {
	.breadcrumbs {
		padding: 96px 0 32px;
	}
}

@media ($width991) {
	.wrapper{
		&_pricing {
			background: 
				url("@img/blur-b_pricing_m.png") 100% 32px no-repeat,
				url("@img/cristal-bg-pricing_m.png") 100% 135px no-repeat;
		}
	}
	.title {
		font-size: 48px;
		line-height: 55px;
	}
}

@media ($width767) {
	.container {
		&_article {
			padding: 0 15px;
		}
	}
	.title {
		font-size: 36px;
		line-height: 40px;
	}

	.title-small {
		font-size: 26px;
		line-height: 34px;
	}

	.subtitle {
		font-size: 14px;
		line-height: 26px;
	}

	.text {
		font-size: 15px;
		line-height: 24px;
	}

	.text-bg {
		font-size: 50px;
		line-height: 61px;
		&.pricing__label {
			font-size: 80px;
			line-height: 97px;
		}
	}

	.form {
		&__wrapper {
			max-width: 100%;
		}
		&__btn {
			margin-bottom: 17px;
		}
	}
}

@media ($width375) {
	.wrapper {
		&_main {
			background: 
				url("@img/blur-w_m.png") center 87px no-repeat,
				url("@img/blur-b_m.png") 100% 707px no-repeat,
				url("@img/blur-b2_m.png") 0 1659px no-repeat;
		}
		&_arts {
			background: url("@img/blur-b_arts_m.png") 0 100px no-repeat;
		}
		&_product {
			background-image: none!important;
		}
		&_auction {
			background-image: none!important;
		}
	}
	.container {
		&_home {
			padding: 0 0 0 15px;
		}
	}
}